In [2]:
import pandas as pd
import numpy as np
# 
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
# 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler ,MinMaxScaler
from imblearn.over_sampling import SMOTE

In [3]:
# managed PC 
PATH_TEST = r'E:\_Projects\_Under Construction Projects\Credit-score-classification\test.csv'
PATH_TRAIN=r'E:\_Projects\_Under Construction Projects\Credit-score-classification\train.csv'

In [4]:
df_train = pd.read_csv(PATH_TRAIN,encoding='utf-8',sep=',')
# df_test = pd.read_csv(PATH_TEST,encoding='utf-8',sep=',')

C:\Users\hp\AppData\Local\Temp\ipykernel_30404\2126733978.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv(PATH_TRAIN,encoding='utf-8',sep=',')

In [52]:
df_train.T

,0,1,2,3,4,5,6,7,8,9,...,99990,99991,99992,99993,99994,99995,99996,99997,99998,99999
ID,0x1602,0x1603,0x1604,0x1605,0x1606,0x1607,0x1608,0x1609,0x160e,0x160f,...,0x25fe0,0x25fe1,0x25fe6,0x25fe7,0x25fe8,0x25fe9,0x25fea,0x25feb,0x25fec,0x25fed
Customer_ID,CUS_0xd40,CUS_0xd40,CUS_0xd40,CUS_0xd40,CUS_0xd40,CUS_0xd40,CUS_0xd40,CUS_0xd40,CUS_0x21b1,CUS_0x21b1,...,CUS_0x8600,CUS_0x8600,CUS_0x942c,CUS_0x942c,CUS_0x942c,CUS_0x942c,CUS_0x942c,CUS_0x942c,CUS_0x942c,CUS_0x942c
Month,January,February,March,April,May,June,July,August,January,February,...,July,August,January,February,March,April,May,June,July,August
Name,Aaron Maashoh,Aaron Maashoh,Aaron Maashoh,Aaron Maashoh,Aaron Maashoh,Aaron Maashoh,Aaron Maashoh,Aaron Maashoh,Rick Rothackerj,Rick Rothackerj,...,Sarah McBridec,Sarah McBridec,Nicks,Nicks,Nicks,Nicks,Nicks,Nicks,Nicks,Nicks
Age,23,23,-500,23,23,23,23,23,28,28,...,28,29,24,25,25,25,25,25,25,25
SSN,821-00-0265,821-00-0265,821-00-0265,821-00-0265,821-00-0265,821-00-0265,821-00-0265,nan,004-07-5839,004-07-5839,...,031-35-0942,031-35-0942,078-73-5990,078-73-5990,078-73-5990,078-73-5990,078-73-5990,078-73-5990,078-73-5990,078-73-5990
Occupation,Scientist,Scientist,Scientist,Scientist,Scientist,Scientist,Scientist,Scientist,_______,Teacher,...,Architect,Architect,Mechanic,Mechanic,Mechanic,Mechanic,Mechanic,Mechanic,Mechanic,Mechanic
Annual_Income,19114.12,19114.12,19114.12,19114.12,19114.12,19114.12,19114.12,19114.12,34847.84,34847.84,...,20002.88,20002.88,39628.99,39628.99_,39628.99,39628.99,39628.99,39628.99,39628.99,39628.99_
Monthly_Inhand_Salary,1824.843333,NaN,NaN,NaN,1824.843333,NaN,1824.843333,1824.843333,3037.986667,3037.986667,...,1929.906667,1929.906667,3359.415833,3359.415833,3359.415833,3359.415833,3359.415833,3359.415833,3359.415833,3359.415833
Num_Bank_Accounts,3,3,3,3,3,3,3,3,2,2,...,10,10,4,4,4,4,4,4,4,4
Num_Credit_Card,4,4,4,4,4,4,4,4,4,4,...,8,8,6,6,6,6,6,6,6,6
Interest_Rate,3,3,3,3,3,3,3,3,6,6,...,29,29,7,7,7,7,7,5729,7,7
Num_of_Loan,4,4,4,4,4,4,4,4,1,1,...,5,5,2,2,2,2,2,2,2,2
Type_of_Loan,"Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...","Auto Loan, Credit-Builder Loan, Personal Loan,...",Credit-Builder Loan,Credit-Builder Loan,...,"Personal Loan, Auto Loan, Mortgage Loan, Stude...","Personal Loan, Auto Loan, Mortgage Loan, Stude...","Auto Loan, and Student Loan","Auto Loan, and Student Loan","Auto Loan, and Student Loan","Auto Loan, and Student Loan","Auto Loan, and Student Loan","Auto Loan, and Student Loan","Auto Loan, and Student Loan","Auto Loan, and Student Loan"
Delay_from_due_date,3,-1,3,5,6,8,3,3,3,7,...,33,33,23,23,20,23,18,27,20,18
Num_of_Delayed_Payment,7,NaN,7,4,NaN,4,8_,6,4,1,...,26,25,NaN,NaN,6,7,7,6,NaN,6
Changed_Credit_Limit,11.27,11.27,_,6.27,11.27,9.27,11.27,11.27,5.42,7.42,...,18.31,18.31,9.5,11.5,9.5,11.5,11.5,11.5,11.5,11.5
Num_Credit_Inquiries,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,2.0,2.0,...,9.0,9.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0
Credit_Mix,_,Good,Good,Good,Good,Good,Good,Good,Good,Good,...,Bad,Bad,_,Good,_,_,_,Good,Good,Good
Outstanding_Debt,809.98,809.98,809.98,809.98,809.98,809.98,809.98,809.98,605.03,605.03,...,3571.7,3571.7,502.38,502.38,502.38,502.38,502.38,502.38,502.38,502.38
Credit_Utilization_Ratio,26.82262,31.94496,28.609352,31.377862,24.797347,27.262259,22.537593,23.933795,24.464031,38.550848,...,25.123535,37.140784,32.991333,29.135447,39.323569,34.663572,40.565631,41.255522,33.638208,34.192463
Credit_History_Age,22 Years and 1 Months,NaN,22 Years and 3 Months,22 Years and 4 Months,22 Years and 5 Months,22 Years and 6 Months,22 Years and 7 Months,NaN,26 Years and 7 Months,26 Years and 8 Months,...,NaN,6 Years and 3 Months,31 Years and 3 Months,31 Years and 4 Months,31 Years and 5 Months,31 Years and 6 Months,31 Years and 7 Months,31 Years and 8 Months,31 Years and 9 Months,31 Years and 10 Months
Payment_of_Min_Amount,No,No,No,No,No,No,No,No,No,No,...,Yes,Yes,No,No,No,No,No,No,No,No
Total_EMI_per_month,49.574949,49.574949,49.574949,49.574949,49.574949,49.574949,49.574949,49.574949,18.816215,18.816215,...,60.964772,60.964772,35.104023,58638.0,35.104023,35.104023,35.104023,35.104023,35.104023,35.104023
Amount_invested_monthly,80.41529543900253,118.28022162236736,81.699521264648,199.4580743910713,41.420153086217326,62.430172331195294,178.3440674122349,24.785216509052056,104.291825168246,40.39123782853101,...,173.2755025599617,34.66290609052614,401.1964806036356,180.7330951944497,140.58140274528395,60.97133255718485,54.18595028760385,24.02847744864441,251.67258219721603,167.1638651610451
Payment_Behaviour,High_spent_Small_value_payments,Low_spent_Large_value_payments,Low_spent_Medium_value_payments,Low_spent_Small_value_payments,High_spent_Medium_value_payments,!@9#%8,Low_spent_Small_value_payments,High_spent_Medium_value_payments,Low_spent_Small_value_payments,High_spent_Large_value_payments,...,Low_spent_Large_value_payments,High_spent_Large_value_payments,Low_spent_Small_value_payments,Low_spent_Medium_value_payments,High_spent_Medium_value_payments,High_spent_Large_value_payments,High_spent_Medium_value_payments,High_spent_Large_value_payments,Low_spent_Large_value_payments,!@9#%8
Monthly_Balance,312.49408867943663,284.62916249607184,331.2098628537912,223.45130972736786,341.48923103222177,340.4792117872438,244.5653167062043,358.12416760938714,470.69062692529184,484.5912142650067,...,228.750392,337.362988,189.64108,400.104466,410.256158,479.866228,496.65161,516.809083,319.164979,393.673696
Credit_Score,Good,Good,Good,Good,Good,Good,Good,Standard,Standard,Good,...,Standard,Standard,Poor,Standard,Poor,Poor,Poor,Poor,Standard,Poor
-500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [7]:
df_train.describe().T

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,84998.0,4194.170850,3183.686167,303.645417,1625.568229,3093.745000,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,17.091280,117.404834,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,100000.0,22.474430,129.057410,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,100000.0,72.466040,466.422621,1.000000,8.000000,13.000000,20.000000,5797.000000
Delay_from_due_date,100000.0,21.068780,14.860104,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,98035.0,27.754251,193.177339,0.000000,3.000000,6.000000,9.000000,2597.000000
Credit_Utilization_Ratio,100000.0,32.285173,5.116875,20.000000,28.052567,32.305784,36.496663,50.000000
Total_EMI_per_month,100000.0,1403.118217,8306.041270,0.000000,30.306660,69.249473,161.224249,82331.000000

In [8]:
df_train.describe(include='object').T

,count,unique,top,freq
ID,100000,100000,0x1602,1
Customer_ID,100000,12500,CUS_0xd40,8
Month,100000,8,January,12500
Name,90015,10139,Langep,44
Age,100000,1788,38,2833
SSN,100000,12501,#F%$D@*&8,5572
Occupation,100000,16,_______,7062
Annual_Income,100000,18940,36585.12,16
Num_of_Loan,100000,434,3,14386
Type_of_Loan,88592,6260,Not Specified,1408
Num_of_Delayed_Payment,92998,749,19,5327
Changed_Credit_Limit,100000,4384,_,2091
Credit_Mix,100000,4,Standard,36479
Outstanding_Debt,100000,13178,1360.45,24
Credit_History_Age,90970,404,15 Years and 11 Months,446
Payment_of_Min_Amount,100000,3,Yes,52326
Amount_invested_monthly,95521,91049,__10000__,4305
Payment_Behaviour,100000,7,Low_spent_Small_value_payments,25513
Monthly_Balance,98800,98792,__-333333333333333333333333333__,9
Credit_Score,100000,3,Standard,53174

In [9]:
# sns.heatmap(df_train.isnull())

# reset nan

## Age column

In [10]:
df_train['Age']

0          23
1          23
2        -500
3          23
4          23
         ...
99995      25
99996      25
99997      25
99998      25
99999      25
Name: Age, Length: 100000, dtype: object

In [11]:
# 000_ 
df_train['Age']= [s.replace('_', '') for s in df_train['Age']]
df_train['Age'] =df_train['Age'].astype(int)
# -500 
Customer_ID_age = df_train[df_train['Age'] < 0]['Customer_ID'].values
    # ----- method

#

In [12]:
Customer_ID_age

array(['CUS_0xd40', 'CUS_0xff4', 'CUS_0x4080', 'CUS_0x9bc1', 'CUS_0x2827',
       'CUS_0x6794', 'CUS_0x71e0', 'CUS_0x3861', 'CUS_0x12d5',
       'CUS_0x6015', 'CUS_0xa9a6', 'CUS_0x3b88', 'CUS_0x682f',
       'CUS_0x31d5', 'CUS_0x8e75', 'CUS_0x3702', 'CUS_0x1d4e',
       'CUS_0x4ea5', 'CUS_0x8208', 'CUS_0x3ef5', 'CUS_0x76cf',
       'CUS_0x51b4', 'CUS_0x8b12', 'CUS_0xf23', 'CUS_0x7cfc', 'CUS_0xd83',
       'CUS_0x4223', 'CUS_0x86b', 'CUS_0x46eb', 'CUS_0x864a',
       'CUS_0x3b3f', 'CUS_0x62f0', 'CUS_0x9783', 'CUS_0x41e4',
       'CUS_0x93bb', 'CUS_0xc081', 'CUS_0xaf1b', 'CUS_0xc3d6',
       'CUS_0x58d0', 'CUS_0x2719', 'CUS_0xed3', 'CUS_0x5719',
       'CUS_0x8484', 'CUS_0xb68f', 'CUS_0x1739', 'CUS_0xb486',
       'CUS_0x33b4', 'CUS_0x8e53', 'CUS_0x406', 'CUS_0x864', 'CUS_0x7e8b',
       'CUS_0x7cd3', 'CUS_0x5840', 'CUS_0x2a03', 'CUS_0xc620',
       'CUS_0x22b3', 'CUS_0x5413', 'CUS_0xacd4', 'CUS_0x74d5',
       'CUS_0x59cf', 'CUS_0xb904', 'CUS_0x19cc', 'CUS_0x9894',
       'CUS_0xa2c0', 'CUS_0x38bb', 'CUS_0x9e13', 'CUS_0x3ae9',
       'CUS_0xb0b7', 'CUS_0xce6', 'CUS_0x5bb9', 'CUS_0x9a1', 'CUS_0x18b5',
       'CUS_0x6d22', 'CUS_0x4a83', 'CUS_0xd3d', 'CUS_0x960f',
       'CUS_0xb24d', 'CUS_0x5088', 'CUS_0x4f7d', 'CUS_0x1ebb',
       'CUS_0x5fd2', 'CUS_0x641b', 'CUS_0x5f64', 'CUS_0x5a67',
       'CUS_0x4dbd', 'CUS_0x9510', 'CUS_0x78e8', 'CUS_0x5b0a',
       'CUS_0x832d', 'CUS_0xc3d8', 'CUS_0xb4d3', 'CUS_0xb793',
       'CUS_0x2058', 'CUS_0x6f72', 'CUS_0x3ba7', 'CUS_0xb462',
       'CUS_0x4636', 'CUS_0x2b7a', 'CUS_0x4981', 'CUS_0x925',
       'CUS_0xa7b2', 'CUS_0x8983', 'CUS_0x710b', 'CUS_0x99a9',
       'CUS_0x7cea', 'CUS_0xbba7', 'CUS_0x3ffe', 'CUS_0x510c',
       'CUS_0x91ac', 'CUS_0x231b', 'CUS_0x5640', 'CUS_0x93cd',
       'CUS_0x9dfc', 'CUS_0x57a2', 'CUS_0x6343', 'CUS_0x621',
       'CUS_0xa65f', 'CUS_0xb6eb', 'CUS_0x68a7', 'CUS_0x4d2',
       'CUS_0x3640', 'CUS_0xc5fe', 'CUS_0xc5e2', 'CUS_0x71ca',
       'CUS_0x40fa', 'CUS_0xbbcf', 'CUS_0xa06', 'CUS_0x6b9f',
       'CUS_0x7ccf', 'CUS_0x4657', 'CUS_0x85a7', 'CUS_0x9c09',
       'CUS_0x9c09', 'CUS_0x4a11', 'CUS_0x5c81', 'CUS_0x62a6',
       'CUS_0x5465', 'CUS_0x5465', 'CUS_0x10dd', 'CUS_0x1197',
       'CUS_0x5df5', 'CUS_0x8925', 'CUS_0x3b40', 'CUS_0x6deb',
       'CUS_0x6deb', 'CUS_0x901', 'CUS_0x9bb7', 'CUS_0x44e8',
       'CUS_0x4d50', 'CUS_0x53f4', 'CUS_0x3bf3', 'CUS_0x76c4',
       'CUS_0xeb6', 'CUS_0x8766', 'CUS_0x13de', 'CUS_0x65cf',
       'CUS_0x65cf', 'CUS_0x1ef5', 'CUS_0x7716', 'CUS_0x85e8',
       'CUS_0x8b99', 'CUS_0x29ab', 'CUS_0x977a', 'CUS_0xa088',
       'CUS_0x2ddd', 'CUS_0x5a6d', 'CUS_0x545e', 'CUS_0xbc1c',
       'CUS_0xbc1c', 'CUS_0x8bb9', 'CUS_0x1eff', 'CUS_0x695c',
       'CUS_0xa9f5', 'CUS_0x1afd', 'CUS_0x30cf', 'CUS_0xb0bd',
       'CUS_0x7fd9', 'CUS_0x9e5', 'CUS_0x6c52', 'CUS_0x3032',
       'CUS_0x3a69', 'CUS_0x123d', 'CUS_0xb160', 'CUS_0x18ac',
       'CUS_0x1eea', 'CUS_0x5f43', 'CUS_0x842e', 'CUS_0x9e3',
       'CUS_0xafbb', 'CUS_0x46bf', 'CUS_0xc24c', 'CUS_0x67c7',
       'CUS_0x424', 'CUS_0xbd09', 'CUS_0x9c05', 'CUS_0xc390',
       'CUS_0x87b4', 'CUS_0x1258', 'CUS_0xb362', 'CUS_0xa5be',
       'CUS_0x6276', 'CUS_0x9a88', 'CUS_0xc4de', 'CUS_0x6ca8',
       'CUS_0x1e0f', 'CUS_0x9f51', 'CUS_0x461f', 'CUS_0x43a3',
       'CUS_0x637b', 'CUS_0x1733', 'CUS_0x2869', 'CUS_0x3be2',
       'CUS_0x1938', 'CUS_0x6c3b', 'CUS_0xa20f', 'CUS_0xd7c', 'CUS_0xa26',
       'CUS_0x1d08', 'CUS_0xc187', 'CUS_0x7dab', 'CUS_0x8cc5',
       'CUS_0x3731', 'CUS_0x33ef', 'CUS_0x965a', 'CUS_0x72ce',
       'CUS_0x3172', 'CUS_0x352f', 'CUS_0x4c5c', 'CUS_0x8ede',
       'CUS_0xdd9', 'CUS_0x23c1', 'CUS_0x59f1', 'CUS_0x20f1',
       'CUS_0x8062', 'CUS_0x6a7', 'CUS_0x7869', 'CUS_0x3d37',
       'CUS_0x3d44', 'CUS_0x84e7', 'CUS_0xb5ae', 'CUS_0x7972',
       'CUS_0xa478', 'CUS_0xa055', 'CUS_0x2f53', 'CUS_0xbe32',
       'CUS_0xbe29', 'CUS_0xb6a5', 'CUS_0xad5e', 'CUS_0x57c',
       'CUS_0xc3f2', 'CUS_0xbb7e', 'CUS_0x43c3', 'CUS_0x53cb',
       'CUS_0x4a7', 'CUS_0xa833', 'CUS_0xa2a7', 'CUS_0x7b38',
       'CUS_0x5c0f', 'CUS_0x4bfb', 'CUS_0x4237', 'CUS_0x5764',
       'CUS_0x36a0', 'CUS_0x868', 'CUS_0x8783', 'CUS_0x9ee5',
       'CUS_0x4e0e', 'CUS_0xc106', 'CUS_0xae4b', 'CUS_0xbfb4',
       'CUS_0xbf60', 'CUS_0xedd', 'CUS_0xbcd8', 'CUS_0x5417', 'CUS_0x8d0',
       'CUS_0x13a9', 'CUS_0x592a', 'CUS_0x50b5', 'CUS_0x6fb2',
       'CUS_0x2d1e', 'CUS_0x1c5d', 'CUS_0x1c5d', 'CUS_0x1c5d',
       'CUS_0xa86a', 'CUS_0x4425', 'CUS_0x3e65', 'CUS_0x4a7a',
       'CUS_0x43cf', 'CUS_0x5036', 'CUS_0x8388', 'CUS_0x26fd',
       'CUS_0x9d89', 'CUS_0x7edb', 'CUS_0xbfed', 'CUS_0xa463',
       'CUS_0x8f3a', 'CUS_0x84d1', 'CUS_0x9215', 'CUS_0x289d',
       'CUS_0x5382', 'CUS_0xb1bc', 'CUS_0x70d0', 'CUS_0x1b6d',
       'CUS_0x4c44', 'CUS_0x4037', 'CUS_0xc70e', 'CUS_0x52b7',
       'CUS_0x9570', 'CUS_0xd07', 'CUS_0xb01a', 'CUS_0x6ec7',
       'CUS_0x8a20', 'CUS_0x754c', 'CUS_0x5fab', 'CUS_0x7429',
       'CUS_0x6b8', 'CUS_0x4717', 'CUS_0x355f', 'CUS_0x97fc',
       'CUS_0x320e', 'CUS_0x6dfc', 'CUS_0x53eb', 'CUS_0x48a8',
       'CUS_0xab13', 'CUS_0x562f', 'CUS_0xace0', 'CUS_0x9b8b',
       'CUS_0x7ef5', 'CUS_0x8006', 'CUS_0x52ad', 'CUS_0x2b77',
       'CUS_0x604a', 'CUS_0x2ca8', 'CUS_0x2a8b', 'CUS_0x7d0a',
       'CUS_0x7d0a', 'CUS_0xa8d', 'CUS_0x424f', 'CUS_0x133b',
       'CUS_0x4824', 'CUS_0x34f2', 'CUS_0x4c43', 'CUS_0xa806',
       'CUS_0x3382', 'CUS_0x98b5', 'CUS_0xb1aa', 'CUS_0x4b41',
       'CUS_0x4a2b', 'CUS_0x509', 'CUS_0x3672', 'CUS_0x849d',
       'CUS_0xa267', 'CUS_0x7b09', 'CUS_0x3279', 'CUS_0xa1bb',
       'CUS_0xbdf', 'CUS_0x68ce', 'CUS_0x9093', 'CUS_0xc3d', 'CUS_0xb300',
       'CUS_0xb300', 'CUS_0xa26b', 'CUS_0x36b6', 'CUS_0x27e0',
       'CUS_0x37bf', 'CUS_0xc254', 'CUS_0x2108', 'CUS_0xa39c',
       'CUS_0x8a5', 'CUS_0x4098', 'CUS_0x7ea8', 'CUS_0xb16c', 'CUS_0xde4',
       'CUS_0x1663', 'CUS_0x405', 'CUS_0xaa5a', 'CUS_0x5afa',
       'CUS_0xa082', 'CUS_0x9840', 'CUS_0x1fcc', 'CUS_0x56ab',
       'CUS_0x56ab', 'CUS_0x4cab', 'CUS_0x1640', 'CUS_0x9fea',
       'CUS_0x29f9', 'CUS_0x60c5', 'CUS_0x7aa8', 'CUS_0xc49c',
       'CUS_0x54e8', 'CUS_0x5a1a', 'CUS_0x5a3d', 'CUS_0xa3e1',
       'CUS_0x104a', 'CUS_0x104a', 'CUS_0x7e06', 'CUS_0xa67d',
       'CUS_0xec4', 'CUS_0xbdac', 'CUS_0xb4c4', 'CUS_0xb98f',
       'CUS_0x109d', 'CUS_0x77ca', 'CUS_0x5bbc', 'CUS_0x6d35',
       'CUS_0x8c36', 'CUS_0x66e5', 'CUS_0x5128', 'CUS_0x68df',
       'CUS_0x61ec', 'CUS_0x3948', 'CUS_0x1ebc', 'CUS_0x879d',
       'CUS_0x6fa7', 'CUS_0x6cda', 'CUS_0xaa14', 'CUS_0x3e32',
       'CUS_0x8c68', 'CUS_0x872f', 'CUS_0xb168', 'CUS_0x78e9',
       'CUS_0x8800', 'CUS_0xbc56', 'CUS_0x269a', 'CUS_0x9978',
       'CUS_0xb15e', 'CUS_0x4470', 'CUS_0xbe20', 'CUS_0x5915',
       'CUS_0x406e', 'CUS_0xa08e', 'CUS_0xbec6', 'CUS_0x872e',
       'CUS_0x60aa', 'CUS_0xa3db', 'CUS_0x3b46', 'CUS_0x36d3',
       'CUS_0x7011', 'CUS_0x6ba', 'CUS_0xa394', 'CUS_0x9694',
       'CUS_0xc2dd', 'CUS_0xb61a', 'CUS_0x69a2', 'CUS_0x3f75',
       'CUS_0x73ae', 'CUS_0xb611', 'CUS_0xa6e0', 'CUS_0x8e44',
       'CUS_0x27e2', 'CUS_0xa8c6', 'CUS_0xc4b2', 'CUS_0x9729',
       'CUS_0x9729', 'CUS_0x7ea4', 'CUS_0x47f1', 'CUS_0x8d32',
       'CUS_0x1dd9', 'CUS_0x2912', 'CUS_0x32cb', 'CUS_0x14a3',
       'CUS_0x20a3', 'CUS_0xa11c', 'CUS_0x79aa', 'CUS_0x3643',
       'CUS_0x63df', 'CUS_0x139b', 'CUS_0x6f5c', 'CUS_0x29d8',
       'CUS_0x5877', 'CUS_0x68cf', 'CUS_0x47d5', 'CUS_0x1fcd',
       'CUS_0x4ee7', 'CUS_0x8a30', 'CUS_0x70a3', 'CUS_0x83ef',
       'CUS_0x3fde', 'CUS_0x7226', 'CUS_0xae61', 'CUS_0x659',
       'CUS_0xa8d8', 'CUS_0x947a', 'CUS_0x51cb', 'CUS_0xa964',
       'CUS_0x2a77', 'CUS_0xb7ea', 'CUS_0x36ff', 'CUS_0x4bd',
       'CUS_0x7ea2', 'CUS_0x29dd', 'CUS_0xb3aa', 'CUS_0x79bf',
       'CUS_0x8f6a', 'CUS_0x6dc5', 'CUS_0xb556', 'CUS_0x3026',
       'CUS_0xc716', 'CUS_0x87df', 'CUS_0x87df', 'CUS_0xb644',
       'CUS_0xa556', 'CUS_0x95ef', 'CUS_0xa969', 'CUS_0x193b',
       'CUS_0x37ec', 'CUS_0x3d26', 'CUS_0x2cd9', 'CUS_0x5375',
       'CUS_0x9bbe', 'CUS_0x981', 'CUS_0xa18d', 'CUS_0x57e', 'CUS_0x6200',
       'CUS_0x713d', 'CUS_0x6abf', 'CUS_0x6abf', 'CUS_0x2db3',
       'CUS_0xaf16', 'CUS_0x9bfa', 'CUS_0xc726', 'CUS_0x76b8',
       'CUS_0xc59e', 'CUS_0x6f22', 'CUS_0x5f83', 'CUS_0x2abc',
       'CUS_0x44c3', 'CUS_0x1abc', 'CUS_0xc571', 'CUS_0x3319',
       'CUS_0x55a1', 'CUS_0x2b76', 'CUS_0x8a3c', 'CUS_0x7d42',
       'CUS_0x1c7e', 'CUS_0x8b5b', 'CUS_0x287f', 'CUS_0x22bf',
       'CUS_0xf8b', 'CUS_0x487a', 'CUS_0x9efd', 'CUS_0x1698',
       'CUS_0xa2f8', 'CUS_0x7d6c', 'CUS_0x2270', 'CUS_0x3d6d',
       'CUS_0x2bec', 'CUS_0x98f6', 'CUS_0xee6', 'CUS_0x913e',
       'CUS_0x6bbd', 'CUS_0x2c94', 'CUS_0x1e4d', 'CUS_0x9bbc',
       'CUS_0xc1a2', 'CUS_0x444b', 'CUS_0x9346', 'CUS_0x8704',
       'CUS_0x513a', 'CUS_0xa235', 'CUS_0xac3f', 'CUS_0x71eb',
       'CUS_0x3b11', 'CUS_0xc4ea', 'CUS_0x269d', 'CUS_0x476d',
       'CUS_0x9074', 'CUS_0x8be2', 'CUS_0x4fd4', 'CUS_0x3c0b',
       'CUS_0x91b2', 'CUS_0x51c', 'CUS_0x3ea4', 'CUS_0x6b8d',
       'CUS_0xc475', 'CUS_0xb9bd', 'CUS_0xbc33', 'CUS_0x1758',
       'CUS_0x1758', 'CUS_0x55fb', 'CUS_0x14ff', 'CUS_0x9f1f',
       'CUS_0x4688', 'CUS_0x43dd', 'CUS_0x6116', 'CUS_0xb650',
       'CUS_0x5097', 'CUS_0x5097', 'CUS_0x435d', 'CUS_0x5a4f',
       'CUS_0x8a64', 'CUS_0x8f16', 'CUS_0x9d3', 'CUS_0xc3b8', 'CUS_0x924',
       'CUS_0x6acc', 'CUS_0x4ee5', 'CUS_0x77b7', 'CUS_0x91d4',
       'CUS_0x61fb', 'CUS_0x4863', 'CUS_0xb6cd', 'CUS_0x1c31',
       'CUS_0x1e9e', 'CUS_0x70af', 'CUS_0x9190', 'CUS_0x5bfc',
       'CUS_0x8b1', 'CUS_0xb13e', 'CUS_0xc57e', 'CUS_0xb647',
       'CUS_0x3757', 'CUS_0x87d8', 'CUS_0x2e65', 'CUS_0x5338',
       'CUS_0x2ddc', 'CUS_0x3e14', 'CUS_0x199b', 'CUS_0x4298',
       'CUS_0x1916', 'CUS_0xb085', 'CUS_0x8464', 'CUS_0x4638',
       'CUS_0x2b29', 'CUS_0x795c', 'CUS_0x183e', 'CUS_0x183e',
       'CUS_0x9ebf', 'CUS_0x138f', 'CUS_0x3b7d', 'CUS_0x151b',
       'CUS_0x86ec', 'CUS_0xb25a', 'CUS_0x7b31', 'CUS_0x31ce',
       'CUS_0xa080', 'CUS_0x3df4', 'CUS_0x83a1', 'CUS_0x3570',
       'CUS_0x5470', 'CUS_0x5f3f', 'CUS_0x2141', 'CUS_0xba4c',
       'CUS_0x4322', 'CUS_0x720f', 'CUS_0x5505', 'CUS_0xbc4',
       'CUS_0xc61e', 'CUS_0x95d2', 'CUS_0x242d', 'CUS_0x3910',
       'CUS_0x8b74', 'CUS_0x4b4', 'CUS_0x2346', 'CUS_0x5323',
       'CUS_0x3240', 'CUS_0x3ee4', 'CUS_0xb7e2', 'CUS_0x7aad',
       'CUS_0x919b', 'CUS_0x2206', 'CUS_0x5856', 'CUS_0x6ccb',
       'CUS_0x5da2', 'CUS_0x4f01', 'CUS_0x365b', 'CUS_0xbc49',
       'CUS_0x6484', 'CUS_0x76e2', 'CUS_0xad1d', 'CUS_0xc35c',
       'CUS_0x1835', 'CUS_0x522c', 'CUS_0x6ed0', 'CUS_0xc416',
       'CUS_0xb033', 'CUS_0x677f', 'CUS_0x98b3', 'CUS_0x960e',
       'CUS_0x3404', 'CUS_0x57b2', 'CUS_0x5254', 'CUS_0x8ddb',
       'CUS_0x1f88', 'CUS_0x5386', 'CUS_0x87db', 'CUS_0x511f',
       'CUS_0x3f6b', 'CUS_0x1a8d', 'CUS_0x925c', 'CUS_0xa3ff',
       'CUS_0x441e', 'CUS_0x6e6a', 'CUS_0x7968', 'CUS_0x2991',
       'CUS_0x4577', 'CUS_0x6336', 'CUS_0x30fd', 'CUS_0xc6ba',
       'CUS_0xc2cb', 'CUS_0xc2eb', 'CUS_0xc2eb', 'CUS_0x81ce',
       'CUS_0x9771', 'CUS_0x8065', 'CUS_0x3f87', 'CUS_0xa6cb',
       'CUS_0x13d5', 'CUS_0x7594', 'CUS_0x9891', 'CUS_0x9891',
       'CUS_0x9891', 'CUS_0x199a', 'CUS_0x1948', 'CUS_0x71bf',
       'CUS_0x1d58', 'CUS_0x6578', 'CUS_0x2ba9', 'CUS_0x5217',
       'CUS_0x9435', 'CUS_0x3a99', 'CUS_0xc0d7', 'CUS_0xbb93',
       'CUS_0x354b', 'CUS_0xaba3', 'CUS_0x8fa', 'CUS_0x3b06', 'CUS_0x990',
       'CUS_0x4e5c', 'CUS_0x87f9', 'CUS_0x7dd', 'CUS_0xa5ee',
       'CUS_0x39a0', 'CUS_0x5ebc', 'CUS_0xb32a', 'CUS_0x2a79',
       'CUS_0x705d', 'CUS_0x2ce6', 'CUS_0x7f2c', 'CUS_0x82a3',
       'CUS_0xa3d5', 'CUS_0x5b64', 'CUS_0x2a47', 'CUS_0xaaff',
       'CUS_0xfdf', 'CUS_0xa39', 'CUS_0x331a', 'CUS_0xa40e', 'CUS_0xb96c',
       'CUS_0x65a0', 'CUS_0x9bb3', 'CUS_0x3e67', 'CUS_0x4182',
       'CUS_0x89bd', 'CUS_0x1abe', 'CUS_0xb607', 'CUS_0xae98',
       'CUS_0x1628', 'CUS_0xa7ce', 'CUS_0x1dc4', 'CUS_0x3b81',
       'CUS_0x57ea', 'CUS_0x77c', 'CUS_0x3ccd', 'CUS_0xbc71',
       'CUS_0x33eb', 'CUS_0x9c0d', 'CUS_0x3c7d', 'CUS_0x4f16',
       'CUS_0x1ed6', 'CUS_0x1ed6', 'CUS_0x50dd', 'CUS_0xa6b',
       'CUS_0x1993', 'CUS_0x808', 'CUS_0x9967', 'CUS_0x400a',
       'CUS_0x270e', 'CUS_0xab83', 'CUS_0x9a6', 'CUS_0x9a6', 'CUS_0x225e',
       'CUS_0x21bb', 'CUS_0x612d', 'CUS_0x612d', 'CUS_0xa18f',
       'CUS_0x553d', 'CUS_0x638b', 'CUS_0x19a8', 'CUS_0x48cb',
       'CUS_0x68da', 'CUS_0x38a7', 'CUS_0x16ae', 'CUS_0x16ae',
       'CUS_0x67cb', 'CUS_0x96d3', 'CUS_0x6b04', 'CUS_0x4e1f',
       'CUS_0x23c8', 'CUS_0xa78b', 'CUS_0x4170', 'CUS_0x4170',
       'CUS_0x2a55', 'CUS_0x27f4', 'CUS_0x3aaa', 'CUS_0x92e9',
       'CUS_0xc2c0', 'CUS_0x7045', 'CUS_0x9a0c', 'CUS_0xab16',
       'CUS_0x1f9c', 'CUS_0x1341', 'CUS_0x94dd', 'CUS_0x2854',
       'CUS_0x3365', 'CUS_0x1cab', 'CUS_0xb0d3', 'CUS_0x8956',
       'CUS_0x4aad', 'CUS_0xa64c', 'CUS_0x5421', 'CUS_0x7f2a',
       'CUS_0x5502', 'CUS_0xa283', 'CUS_0x9dee', 'CUS_0x581e',
       'CUS_0x7feb', 'CUS_0x9151', 'CUS_0xdba', 'CUS_0x8e80',
       'CUS_0x7992', 'CUS_0x2d07', 'CUS_0x631d', 'CUS_0xc668',
       'CUS_0xaf96', 'CUS_0x3e0b', 'CUS_0x8844', 'CUS_0x4acc',
       'CUS_0xb125', 'CUS_0x164f', 'CUS_0x164f', 'CUS_0x8110',
       'CUS_0x7a01', 'CUS_0x49a1', 'CUS_0x60ae', 'CUS_0xc5e8',
       'CUS_0x81f0', 'CUS_0x223c', 'CUS_0x639', 'CUS_0x8cce',
       'CUS_0x1ad3', 'CUS_0x1c79', 'CUS_0x1743', 'CUS_0x7b4b',
       'CUS_0x802', 'CUS_0x5db7', 'CUS_0x87ee', 'CUS_0x754e',
       'CUS_0x2da6', 'CUS_0x6992', 'CUS_0x917d', 'CUS_0x8b8e',
       'CUS_0x8d5d', 'CUS_0x8d01', 'CUS_0x86ea', 'CUS_0x16ee',
       'CUS_0xb451', 'CUS_0x351f', 'CUS_0xac41', 'CUS_0x15cc',
       'CUS_0x40c8', 'CUS_0x6a91', 'CUS_0xa1c5', 'CUS_0x50f7',
       'CUS_0x6c24', 'CUS_0xa407', 'CUS_0x6e9', 'CUS_0x8d43',
       'CUS_0x720e', 'CUS_0x4e14', 'CUS_0x4dc9', 'CUS_0xbb53',
       'CUS_0x85dd', 'CUS_0xc22f', 'CUS_0x1b07', 'CUS_0xad4f',
       'CUS_0x372c'], dtype=object)

In [13]:
indx_age = df_train[df_train['Age'] < 0].index
indx_age

Index([    2,   113,   289,   340,   560,   648,   702,   714,   765,   976,
       ...
       98499, 98702, 99073, 99124, 99129, 99531, 99541, 99762, 99937, 99963],
      dtype='int64', length=886)

In [14]:
# first methods 
df_train[df_train['Customer_ID'] == Customer_ID_age[0]] ['Age'].values.max()

23

In [15]:
#  second method
ids= df_train[df_train['Customer_ID'] == Customer_ID_age[0] ]['ID'].values

ages = df_train[df_train['Customer_ID'] == Customer_ID_age[0]]['Age'].values

print(ids)
print(ages)
indx = np.where(ages == -500)[0][0]
indx

['0x1602' '0x1603' '0x1604' '0x1605' '0x1606' '0x1607' '0x1608' '0x1609']
[  23   23 -500   23   23   23   23   23]

2

In [16]:
df_train[df_train['Customer_ID'] == Customer_ID_age[0]]['Age'].index

Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')

In [17]:
df_train[df_train['ID'] == ids[indx-1]]["Age"] =5

C:\Users\hp\AppData\Local\Temp\ipykernel_30404\4263076513.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train[df_train['ID'] == ids[indx-1]]["Age"] =5

In [18]:
df_train[df_train['ID'] == ids[indx-1]]["Age"]

1    23
Name: Age, dtype: int32

In [19]:
df_train.loc[indx_age[0], 'Age']

-500

In [20]:
for C_id ,inx_age in zip(Customer_ID_age,indx_age) :
    ids=[]
    ages=[]
    indx=0
    
    ids = df_train[df_train['Customer_ID'] == C_id]['ID'].values

    # age
    # get indx of -500
    ages = df_train[df_train['Customer_ID'] == C_id]['Age'].values
    indx = np.where(ages == -500)[0][0]
    # reset 
    if indx > 0:
        df_train[df_train.loc[inx_age, 'Age']] = df_train[df_train['ID'] == ids[indx-1]]["Age"]
    else:
        df_train[df_train.loc[inx_age, 'Age']] = df_train[df_train['ID'] == ids[indx+1]]["Age"]

In [21]:
df_train[df_train['Age'] < 0].index

Index([    2,   113,   289,   340,   560,   648,   702,   714,   765,   976,
       ...
       98499, 98702, 99073, 99124, 99129, 99531, 99541, 99762, 99937, 99963],
      dtype='int64', length=886)

In [22]:
df_train[df_train['Age'] < 0]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,-500
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good,NaN
113,0x16ab,CUS_0xff4,February,NaN,-500,655-05-7666,Entrepreneur,25546.26,NaN,8,...,758.44,29.711376,18 Years and 3 Months,Yes,101.328637,300.32323168069064,Low_spent_Small_value_payments,129.9336309554582,Standard,NaN
289,0x17b3,CUS_0x4080,February,ra Alperx,-500,995-37-8920,Mechanic,29469.98,2227.831667,7,...,3421.66,30.268411,13 Years and 3 Months,NM,69.685459,125.49176826031132,High_spent_Small_value_payments,287.6059398340756,Standard,NaN
340,0x17fe,CUS_0x9bc1,May,Jaisinghanij,-500,445-18-4420,Architect,20574.47,1740.539167,6,...,749.95,29.036164,11 Years and 3 Months,Yes,49.348666,139.97856227172545,Low_spent_Large_value_payments,254.72668807344257,Standard,NaN
560,0x194a,CUS_0x2827,January,Lisah,-500,486-07-1289,Scientist,144546.72,11809.560000,0,...,1045.11,40.840687,22 Years and 11 Months,No,136.988557,573.4115904774258,High_spent_Small_value_payments,730.5558529037837,Standard,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99531,0x25d31,CUS_0x85dd,April,Lucianam,-500,767-36-7303,Lawyer,8974.555,NaN,10,...,1660.14,22.173985,16 Years and 6 Months,Yes,30.443262,27.83822717284169,Low_spent_Medium_value_payments,300.106469,Poor,NaN
99541,0x25d3f,CUS_0xc22f,June,McMillanw,-500,795-34-9348,Scientist,34671.15,2637.262500,4,...,1071.97,25.076571,21 Years and 8 Months,Yes,52.337589,104.78314244377886,High_spent_Small_value_payments,366.605518,Standard,NaN
99762,0x25e8c,CUS_0x1b07,March,Baldwinq,-500,739-15-8297,Accountant,17818.6,1659.883333,4,...,301.52,26.398987,18 Years and 5 Months,NM,11.581102,34.98032691383901,High_spent_Medium_value_payments,369.426905,Standard,NaN
99937,0x25f93,CUS_0xad4f,February,Sabina Zawadzkig,-500,226-45-0652,_______,22620.79,1722.065833,7,...,642.46,31.841872,NaN,No,0.000000,105.07629339039072,Low_spent_Large_value_payments,337.13029,Standard,NaN
99963,0x25fb9,CUS_0x372c,April,Lucia Mutikanik,-500,340-85-7301,Lawyer,42903.79,NaN,0,...,1079.48,30.625298,NaN,No,34.975457,31.19391926667726,High_spent_Large_value_payments,520.662207,Standard,NaN

## SSN

In [23]:
df_train['SSN']=df_train['SSN'].astype(object)
df_train['SSN'] = [i.replace('#F%$D@*&8','nan') for i in df_train['SSN']]

In [24]:
missing_list =['#F%$D@*&8']
missing_list ={ 
                'SSN' :'#F%$D@*&8',
                'Occupation': '_______',
                }

In [25]:
# ///////////////
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  int32
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
 28  -500                      1 non-null       float64
dtypes: float64(5), int32(1), int64(4), object(19)
memory usage: 21.7+ MB

In [26]:
df_train['Customer_ID'].value_counts()

Customer_ID
CUS_0xd40     8
CUS_0x9bf4    8
CUS_0x5ae3    8
CUS_0xbe9a    8
CUS_0x4874    8
             ..
CUS_0x2eb4    8
CUS_0x7863    8
CUS_0x9d89    8
CUS_0xc045    8
CUS_0x942c    8
Name: count, Length: 12500, dtype: int64

In [27]:
df_train[ df_train['Customer_ID']=='CUS_0x9d89'].T

,33360,33361,33362,33363,33364,33365,33366,33367
ID,0xd97a,0xd97b,0xd97c,0xd97d,0xd97e,0xd97f,0xd980,0xd981
Customer_ID,CUS_0x9d89,CUS_0x9d89,CUS_0x9d89,CUS_0x9d89,CUS_0x9d89,CUS_0x9d89,CUS_0x9d89,CUS_0x9d89
Month,January,February,March,April,May,June,July,August
Name,da Costan,da Costan,da Costan,da Costan,da Costan,da Costan,da Costan,da Costan
Age,27,27,27,-500,28,28,28,28
SSN,576-38-5212,576-38-5212,576-38-5212,576-38-5212,576-38-5212,576-38-5212,576-38-5212,576-38-5212
Occupation,Entrepreneur,Entrepreneur,Entrepreneur,Entrepreneur,Entrepreneur,Entrepreneur,Entrepreneur,Entrepreneur
Annual_Income,18413.795_,18413.795,18413.795,18413.795,18413.795,18413.795,18413.795,18413.795
Monthly_Inhand_Salary,1524.482917,1524.482917,1524.482917,1524.482917,1524.482917,1524.482917,1524.482917,1524.482917
Num_Bank_Accounts,5,5,5,5,5,5,5,5
Num_Credit_Card,150,7,7,7,7,7,7,7
Interest_Rate,15,15,15,15,15,15,15,15
Num_of_Loan,0,0,0,0,0,0,0,0
Type_of_Loan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Delay_from_due_date,12,16,11,8,14,12,12,12
Num_of_Delayed_Payment,11,13,11,11,14,11,10,11
Changed_Credit_Limit,7.36,7.36,7.36,7.36,7.36,7.36,7.36,7.36
Num_Credit_Inquiries,NaN,0.0,0.0,0.0,0.0,0.0,3.0,3.0
Credit_Mix,Standard,Standard,Standard,_,Standard,Standard,Standard,Standard
Outstanding_Debt,99.41,99.41,99.41,99.41,99.41,99.41,99.41,99.41
Credit_Utilization_Ratio,39.1895,35.593981,38.698235,33.898387,35.308527,36.602201,40.227683,36.482982
Credit_History_Age,31 Years and 11 Months,32 Years and 0 Months,32 Years and 1 Months,32 Years and 2 Months,32 Years and 3 Months,NaN,32 Years and 5 Months,32 Years and 6 Months
Payment_of_Min_Amount,Yes,Yes,Yes,Yes,Yes,Yes,NM,NM
Total_EMI_per_month,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Amount_invested_monthly,170.22471824762331,103.03232331794857,200.436016150543,85.49818622579427,NaN,109.77178268160722,67.42719385392799,64.00276489235027
Payment_Behaviour,Low_spent_Small_value_payments,High_spent_Small_value_payments,Low_spent_Small_value_payments,Low_spent_Small_value_payments,High_spent_Small_value_payments,Low_spent_Small_value_payments,High_spent_Small_value_payments,High_spent_Small_value_payments
Monthly_Balance,272.22357341904336,309.4159683487181,242.0122755161237,356.95010544087245,337.24868607578526,332.67650898505946,345.02109781273873,348.4455267743164
Credit_Score,Standard,Standard,Standard,Standard,Standard,Standard,Standard,Standard
-500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
Customer_ID_list= df_train['Customer_ID'].drop_duplicates().values
len(Customer_ID_list)

12500

In [29]:
# convert monthly balance to float

df_train["Monthly_Balance"].describe()

count                                98800
unique                               98792
top       __-333333333333333333333333333__
freq                                     9
Name: Monthly_Balance, dtype: object

In [30]:
# convert monthly balance to float

df_train["Monthly_Balance"]=df_train["Monthly_Balance"].astype(float)

ValueError: could not convert string to float: '__-333333333333333333333333333__'

<hr>
<hr>

# name

In [45]:
df_train[df_train['Name'].isnull()]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,-500
7,0x1609,CUS_0xd40,August,NaN,23,nan,Scientist,19114.12,1824.843333,3,...,809.98,23.933795,NaN,No,49.574949,24.785216509052056,High_spent_Medium_value_payments,358.12416760938714,Standard,NaN
17,0x161b,CUS_0x2dbc,February,NaN,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,1303.01,41.702573,17 Years and 10 Months,No,246.992319,232.86038375993544,High_spent_Small_value_payments,998.8692967863226,Good,NaN
22,0x1620,CUS_0x2dbc,July,NaN,34,486-85-3974,Engineer,143162.64,12187.220000,1,...,1303.01,38.068624,18 Years and 3 Months,No,246.992319,263.17416316163934,High_spent_Small_value_payments,968.5555173846187,Standard,NaN
64,0x1662,CUS_0x4157,January,NaN,23,070-19-1622,Doctor,114838.41,9843.867500,2,...,1377.74,33.664554,21 Years and 4 Months,No,226.892792,215.19351594560425,High_spent_Small_value_payments,802.3004421328528,Good,NaN
80,0x167a,CUS_0xa66b,January,NaN,40,221-30-8554,Teacher,33751.27,2948.605833,5,...,1328.93,37.089076,19 Years and 2 Months,NM,65.008174,117.30669710658556,High_spent_Medium_value_payments,362.54571194023237,Standard,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99964,0x25fba,CUS_0x372c,May,NaN,18,340-85-7301,Lawyer,42903.79,3468.315833,0,...,1079.48,23.140640,28 Years and 5 Months,No,34.975457,450.6460933992599,Low_spent_Small_value_payments,151.210033,Good,NaN
99965,0x25fbb,CUS_0x372c,June,NaN,19,340-85-7301,Lawyer,42903.79,3468.315833,0,...,1079.48,35.549456,28 Years and 6 Months,No,34.975457,187.3559686116327,Low_spent_Large_value_payments,394.500158,Good,NaN
99969,0x25fc3,CUS_0xf16,February,NaN,45,868-70-2218,Media_Manager,16680.35,1528.029167,1,...,897.16,34.085971,21 Years and 2 Months,No,41.113561,104.64623687765652,High_spent_Small_value_payments,267.043119,Good,NaN
99973,0x25fc7,CUS_0xf16,June,NaN,45,868-70-2218,Media_Manager,16680.35,1528.029167,1,...,897.16,24.972853,21 Years and 6 Months,No,41.113561,__10000__,Low_spent_Small_value_payments,233.301539,Good,NaN
99986,0x25fdc,CUS_0x8600,March,NaN,28,031-35-0942,Architect,20002.88,1929.906667,10,...,3571.7,24.713861,5 Years and 10 Months,Yes,60.964772,76.28279349064607,Low_spent_Small_value_payments,345.743101,Poor,NaN

In [50]:
realName = df_train.loc[df_train['Customer_ID'] == 'CUS_0xd40']['Name'].values[0]

df_train.loc[(df_train['Customer_ID'] == 'CUS_0xd40') &(df_train['Name'].isna()), ['Name']] = realName

In [51]:
df_train[df_train['Customer_ID'] == 'CUS_0xd40']['Name']

0    Aaron Maashoh
1    Aaron Maashoh
2    Aaron Maashoh
3    Aaron Maashoh
4    Aaron Maashoh
5    Aaron Maashoh
6    Aaron Maashoh
7    Aaron Maashoh
Name: Name, dtype: object