In [90]:
import pandas as pd
import string 
import numpy as np

In [91]:
df = pd.read_csv("train.csv")

C:\Users\hp\AppData\Local\Temp\ipykernel_14920\2292805398.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("train.csv")

In [92]:
df["Credit_History_Age"]

0         22 Years and 1 Months
1                           NaN
2         22 Years and 3 Months
3         22 Years and 4 Months
4         22 Years and 5 Months
                  ...
99995     31 Years and 6 Months
99996     31 Years and 7 Months
99997     31 Years and 8 Months
99998     31 Years and 9 Months
99999    31 Years and 10 Months
Name: Credit_History_Age, Length: 100000, dtype: object

In [93]:
df_train=df

In [94]:

Customer_IDs = df_train[df_train['Credit_History_Age'].isna()]['Customer_ID']
User_IDs = df_train[df_train['Credit_History_Age'].isna()]['ID']
# realHistAge_list = [0, 'Years', 'and', 0, 'Months']

In [95]:
Customer_IDs

1         CUS_0xd40
7         CUS_0xd40
19       CUS_0x2dbc
40       CUS_0x95ee
42       CUS_0x95ee
            ...
99944    CUS_0x51b3
99963    CUS_0x372c
99968     CUS_0xf16
99975     CUS_0xf16
99990    CUS_0x8600
Name: Customer_ID, Length: 9030, dtype: object

<hr>

## Cases

In [96]:
df_train[df_train["Customer_ID"]== "CUS_0xd40"]['Credit_History_Age']

0    22 Years and 1 Months
1                      NaN
2    22 Years and 3 Months
3    22 Years and 4 Months
4    22 Years and 5 Months
5    22 Years and 6 Months
6    22 Years and 7 Months
7                      NaN
Name: Credit_History_Age, dtype: object

In [97]:
df_train[df_train["Customer_ID"]== "CUS_0xf16"]['Credit_History_Age']

99968                      NaN
99969    21 Years and 2 Months
99970    21 Years and 3 Months
99971    21 Years and 4 Months
99972    21 Years and 5 Months
99973    21 Years and 6 Months
99974    21 Years and 7 Months
99975                      NaN
Name: Credit_History_Age, dtype: object

In [98]:
df_train[df_train["Customer_ID"]== "CUS_0xf16"]['Credit_History_Age'].values

array([nan, '21 Years and 2 Months', '21 Years and 3 Months',
       '21 Years and 4 Months', '21 Years and 5 Months',
       '21 Years and 6 Months', '21 Years and 7 Months', nan],
      dtype=object)

<hr>

## test str into int and how make calculations

In [99]:
list_test=df_train[df_train["Customer_ID"]== "CUS_0xf16"]['Credit_History_Age'].values
list_test[1]

'21 Years and 2 Months'

In [100]:
list_test[1].split(" ")

['21', 'Years', 'and', '2', 'Months']

In [102]:
list_test[0].split(" ")

AttributeError: 'float' object has no attribute 'split'

In [ ]:
list_test[0] = '0 Years and 0 Months'
list_test[7] = '0 Years and 0 Months'
list_test

array(['0 Years and 0 Months', '21 Years and 2 Months',
       '21 Years and 3 Months', '21 Years and 4 Months',
       '21 Years and 5 Months', '21 Years and 6 Months',
       '21 Years and 7 Months', '0 Years and 0 Months'], dtype=object)

In [ ]:
valuesNAN ='0 Years and 0 Months'

In [ ]:
list_test[0].split(" ")

['0', 'Years', 'and', '0', 'Months']

In [ ]:
list_split=[]
for i in list_test:
    list_split.append(i.split(" "))
list_split

[['0', 'Years', 'and', '0', 'Months'],
 ['21', 'Years', 'and', '2', 'Months'],
 ['21', 'Years', 'and', '3', 'Months'],
 ['21', 'Years', 'and', '4', 'Months'],
 ['21', 'Years', 'and', '5', 'Months'],
 ['21', 'Years', 'and', '6', 'Months'],
 ['21', 'Years', 'and', '7', 'Months'],
 ['0', 'Years', 'and', '0', 'Months']]

In [ ]:
list_split[0][0]

'0'

In [ ]:
list_split[0][3]
list_split = []

In [ ]:
list_split=[]
list_split

[]

<hr> 

# work space

In [103]:
#  convert nan to valueNaN

df_train['Credit_History_Age'].fillna(valuesNAN,inplace=True)

In [104]:

valuesNAN ='0 Years and 0 Months'
df_train['Credit_History_Age'].fillna(valuesNAN, inplace=True)
Customer_IDs = df_train[df_train['Credit_History_Age']== valuesNAN]['Customer_ID']
User_IDs = df_train[df_train['Credit_History_Age']==valuesNAN]['ID']

In [105]:
# test 
myValues = df_train[df_train["Customer_ID"]=='CUS_0xd40']['Credit_History_Age'].values.tolist()
myValues

['22 Years and 1 Months',
 '0 Years and 0 Months',
 '22 Years and 3 Months',
 '22 Years and 4 Months',
 '22 Years and 5 Months',
 '22 Years and 6 Months',
 '22 Years and 7 Months',
 '0 Years and 0 Months']

In [106]:
myValues.index(valuesNAN)

1

In [ ]:

valuesNAN ='0 Years and 0 Months'
df_train['Credit_History_Age'].fillna(valuesNAN, inplace=True)
Customer_IDs = df_train[df_train['Credit_History_Age']== valuesNAN]['Customer_ID']
User_IDs = df_train[df_train['Credit_History_Age']==valuesNAN]['ID']

In [118]:
# الاصل
# for cust_id in [1] :
for cust_id , user_id in zip(Customer_IDs,User_IDs):
# init
    temp_hist_value = [0, 'Years', 'and', 0, 'Months']
    list_split = []
    new_month=0
    new_year=0
    myValues=[]
    supporte_year=0
    supporte_month=0
    steps = 0

# values of history of this customer only
    # myValues = df_train[df_train["Customer_ID"] ==cust_id]['Credit_History_Age'].values.tolist()
    myValues = df_train[df_train["Customer_ID"] ==
                    'CUS_0xd40']['Credit_History_Age'].values.tolist()
    
# git index of nan (valuesNAN)
    indxNAN = myValues.index(valuesNAN)
# split  string into list
    for i in myValues:
        list_split.append(i.split(" "))
    print(list_split)

# new year and month

# case one
    if  indxNAN != 0 :
        supporte_year=int(list_split[indxNAN-1][0])
        supporte_month=int(list_split[indxNAN-1][3])

        if supporte_month == 11 :
            new_month =0
            new_year =supporte_year+1
        else:
            new_month = supporte_month+1
            new_year = supporte_year

# case two
    #if missing in index 0  
    else :
        # new year and month
        supporte_year = int(list_split[indxNAN+1][0])
        supporte_month = int(list_split[indxNAN+1][3])
    
    # case  two [1] --> if missing in index 0 and 1 and ... 
        if supporte_month==0 and supporte_year==0 :
            for step in myValues:
                if step == valuesNAN:
                    steps=steps+1
                else : break

            supporte_month = int(list_split[indxNAN+steps][3]) - steps

            if supporte_month <= 0:
                new_month = supporte_month - steps +12
                new_year = int(list_split[indxNAN+steps][0])-1
            else :
                new_month = supporte_month - steps 
                new_year = int(list_split[indxNAN+steps][0])

        else:
            if supporte_month == 0:
                new_month = 11
                new_year = supporte_year - 1
            else:
                new_month = supporte_month-1
                new_year = supporte_year
    # new value 
    temp_hist_value[0]=str(new_year)
    temp_hist_value[3]=str(new_month)

# replace new valu

    df_train.loc[(df_train['Customer_ID'] == cust_id) & (
        (df_train['Credit_History_Age']== valuesNAN) & (df_train['ID'] == user_id))
        , ['Credit_History_Age']] = ' '.join(temp_hist_value)


    print(new_year, new_month)
    print(supporte_year, supporte_month)

[['22', 'Years', 'and', '1', 'Months'], ['0', 'Years', 'and', '0', 'Months'], ['22', 'Years', 'and', '3', 'Months'], ['22', 'Years', 'and', '4', 'Months'], ['22', 'Years', 'and', '5', 'Months'], ['22', 'Years', 'and', '6', 'Months'], ['22', 'Years', 'and', '7', 'Months'], ['0', 'Years', 'and', '0', 'Months']]
22 2
22 1

In [ ]:
for cust_id in Customer_IDs:
    # values of history of this customer only
    myValues = []
    myValues = df_train[df_train["Customer_ID"] ==
                        cust_id]['Credit_History_Age'].values.tolist()

# git index of nan (valuesNAN)
    indxNAN = myValues.index(valuesNAN)
    if indxNAN != 0:
        # split  string into list
        list_split = [i.split(" ") for i in myValues[indxNAN-1]]
        # new year and month

In [ ]:
# split string into list 
list_split = [i.split(" ") for i in list_test]

for i in list_split :

# get old year and month
    old_year=i[0]
    old_month=i[3]
# convert year and month to numeric
    old_year=int(old_year)
    old_month=int(old_month)
# check if month 

    print(old_year,old_month)
    print(type(old_year),old_month)

0 0
<class 'int'> 0
21 2
<class 'int'> 2
21 3
<class 'int'> 3
21 4
<class 'int'> 4
21 5
<class 'int'> 5
21 6
<class 'int'> 6
21 7
<class 'int'> 7
0 0
<class 'int'> 0