In [1]:
import string

import pandas  as pd
import numpy as np
s = '15 Years and 11 Months'

In [2]:
data= pd.read_csv('train.csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_2332\92132454.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv('train.csv')

In [7]:
ls=s.split(' ')
ls

['15', 'Years', 'and', '11', 'Months']

In [ ]:
df=data

In [15]:
year = int(ls[0])

In [19]:
month = int(ls[3])
month

11

In [20]:
month+=1

month

12

In [22]:
# case in middle and month = 12 
# check if wrong or not
if month == 12 :
    month =0
    year+=1
else :
    month +=1
    year = year

In [24]:
newlist = [15 ,'Years' ,'and' ,11 ,'Months']
newlist[0]=str(year)
newlist[3]=str(month)
newlist

['17', 'Years', 'and', '0', 'Months']

In [30]:
realValue=' '.join(newlist)

In [31]:
realValue

'17 Years and 0 Months'

In [ ]:
# == ==
# # if supportValue[0] == np.NaN  :
# #     np.nan_to_num(supportValue[0],copy=False,nan=0)
# # if supportValue[3] == np.NaN:
# #     np.nan_to_num(supportValue[3],copy=False,nan=0)

In [ ]:
ids=[]
User_ids=[]
df_train=[]
# --------------------------
# start = 0 and 1=nan and 2=nan ... 

realHistAge_list = [15, 'Years', 'and', 11, 'Months']

for id ,uid in zip(ids,User_ids) :
    steps_month=0
    valus_credit_hist_age = df_train[df_train['Customer_ID']== id]['Credit_History_Age'].values

    # position of null 
    indxNaN = valus_credit_hist_age.tolist().index(np.nan)

    # support value 
    # case 1 front or any position in normal 
    if indxNaN == 0 :
        supportIndx = 1
    else :
        supportIndx = indxNaN - 1 
    
    # case 2 if next or prev position is nan 
    if valus_credit_hist_age[supportIndx] == np.nan:
        for i in valus_credit_hist_age :
            if i == np.nan:
                supportIndx+=1
                steps_month+=1
            else: 
                break

    # processing new value
        # convert to list and int
    supportValue = str(valus_credit_hist_age[supportIndx]).split(' ')
    year = int(supportValue[0])
    month = int(supportValue[3])
    newMonth = 0
    newYear = 0

    # case 1 nan in front or any position in normal
        # front in normal
    if indxNaN == 0 and steps_month == 0:
        newMonth = month-1
    
    elif (indxNaN > 0)  and (steps_month == 0):
        newMonth =month+ 1
    if steps_month > 0 :
        if (indxNaN == 0) and ((month-steps_month) >= 0 ):
            newMonth = month- steps_month
        elif (indxNaN == 0) and ((month-steps_month) < 0):
            newMonth = 12 + (month-steps_month) # 12 + -3 = 9

    # update year 
    if ((indxNaN == 0) and (steps_month == 0) and (month == 0)) or ((indxNaN == 0) and ((month-steps_month) < 0)):
        newYear=year-1
    elif (indxNaN > 0) and (steps_month == 0) and (month == 11):
        newYear =year + 1
        newMonth =0
    elif (indxNaN > 0) and (steps_month == 0) and (month < 11) and (month > 0):
        newYear =year

    # # case 1: 
    # if indxNaN == 0 :
    
    #     if steps_month == 0:
    #         month -= 1
    #         year = year
    #     else :
    #         month -= steps_month
    #         year = year
        
    #     if month <= 0:
    #         month = 11
    #         year -= 1

    # # case 2: 
    # else:
    #     if month == 11:
    #         month = 0
    #         year += 1
    #     else:
    #         month += 1
    #         year = year
        

        # fill new month and year in list and create new string 
    realHistAge_list[0] = str(year)
    realHistAge_list[3] = str(newMonth)

    realHistAge_Value = ' '.join(realHistAge_list)
    # fill new value

    df_train.loc[(df_train['Customer_ID'] == id) & (
        (df_train['Credit_History_Age'].isna())) & (df_train['ID'] == uid), ['Credit_History_Age']] =realHistAge_Value

<hr>

In [3]:
df_train= pd.read_csv('train.csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_2332\605600370.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train= pd.read_csv('train.csv')

In [5]:
myNANvalue='0 Years and 0 Months'

realHistAge_list = [15, 'Years', 'and', 11, 'Months']

In [6]:
df_train['Credit_History_Age'].fillna(myNANvalue,inplace=True)

In [7]:
Customer_IDs = df_train[df_train['Credit_History_Age']==myNANvalue]['Customer_ID']
User_IDs = df_train[df_train['Credit_History_Age']==myNANvalue]['ID']

In [10]:
for id, uid in zip(Customer_IDs, User_IDs):
    steps_month = 0
    valus_credit_hist_age = df_train[df_train['Customer_ID']
                                     == id]['Credit_History_Age'].values

    # position of null
    indxNaN = valus_credit_hist_age.tolist().index(myNANvalue)

    # support value
    # case 1 front or any position in normal
    if indxNaN == 0:
        supportIndx = 1
        if valus_credit_hist_age[1] == myNANvalue:
            for i in valus_credit_hist_age:
                if i == myNANvalue:
                    supportIndx += 1
                    steps_month += 1
                else:
                    break
    else:
        supportIndx = indxNaN - 1

    # case 2 if next or prev position is nan

    # processing new value
        # convert to list and int
    supportValue = str(valus_credit_hist_age[supportIndx]).split(' ')
    #
    year = int(supportValue[0])
    month = int(supportValue[3])
    newMonth = 0
    newYear = 0

    # case 1 nan in front or any position in normal
    # front in normal
    if indxNaN == 0 and steps_month == 0:
        newMonth = month-1

    elif (indxNaN > 0) and (steps_month == 0):
        newMonth = month + 1
    if steps_month > 0:
        if (indxNaN == 0) and ((month-steps_month) >= 0):
            newMonth = month - steps_month
        elif (indxNaN == 0) and ((month-steps_month) < 0):
            newMonth = 12 + (month-steps_month)  # 12 + -3 = 9

    # update year
    if ((indxNaN == 0) and (steps_month == 0) and (month == 0)) or ((indxNaN == 0) and ((month-steps_month) < 0)):
        newYear = year-1
    elif (indxNaN > 0) and (steps_month == 0) and (month == 11):
        newYear = year + 1
        newMonth = 0
    elif (indxNaN > 0) and (steps_month == 0) and (month < 11) and (month > 0):
        newYear = year

        # fill new month and year in list and create new string
    realHistAge_list[0] = str(newYear)
    realHistAge_list[3] = str(newMonth)

    realHistAge_Value = ' '.join(realHistAge_list)
    # fill new value

    df_train.loc[(df_train['Customer_ID'] == id) & (
        (df_train['Credit_History_Age'].isna()) & (df_train['ID'] == uid)), ['Credit_History_Age']] = realHistAge_Value


df_train[df_train['Credit_History_Age']==myNANvalue].sum()

TypeError: can only concatenate str (not "int") to str

In [11]:
df_train[df_train['Credit_History_Age']==myNANvalue]['Customer_ID']

1         CUS_0xd40
7         CUS_0xd40
19       CUS_0x2dbc
40       CUS_0x95ee
42       CUS_0x95ee
            ...
99944    CUS_0x51b3
99963    CUS_0x372c
99968     CUS_0xf16
99975     CUS_0xf16
99990    CUS_0x8600
Name: Customer_ID, Length: 9030, dtype: object